<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookmarklets - RoamKit</title>

    <!-- CSS for users with dark mode -->
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm_theme_big-stone.min.css"
        media="(prefers-color-scheme: dark)">
    <!-- CSS for users without dark mode -->
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm_theme_pearl-lusta.min.css"
        media="(prefers-color-scheme: no-preference), (prefers-color-scheme: light)">
</head>

<body>
    <header>
        <h1>Bookmarklets</h1>
    </header>
    <main>
        <div>
            <table>
                <tbody>
                    {{range $s := .Scripts }}
                    <tr>
                        <td><a href='{{$s.Code}}'>{{$s.Name}}</a></td>
                        <td>{{ if ne $s.Description "" }}{{$s.Description}}{{end}}</td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
    </main>
    <footer>
        <p><b>DISCLAIMER: USE OF THESE BOOKMARKLETS ARE AT YOUR SOLE RISK.</b></p>
        <p>Created by <a href="https://twitter.com/serizawa_jp">@serizawa_jp</a>.</p>
    </footer>
</body>

</html>